---
import Layout from "../layouts/Layout.astro";
import AishaB from "../components/script/aishab.astro";
---

<head>
  <Layout
    title="Aisha Channel"
    ,
    description="Channel of Aisha"
    ,
    image="/full-body.webpp"
    ,
  />
</head>
<body>
  <div
    class="Maincon max-w-7xl sm:px-2 md:px-8 mx-auto bg-neutral-200 rounded-lg md:pb-20 text-black shadow-xl"
  >
    <div class="md:flex py-2 sm:px-2 md:px-8 mx-auto rounded-lg pb-auto"></div>
    <div
      class="flex-auto mt-3 md:mt-0 py-3 md:py-2 px-2 md:ml-2 text-sm md:text-xl text-ellipsis overflow-hidden bg-white rounded-lg shadow-xl"
    >
      <h1 class="text-center md:text-left">ช่องทางทั้งหมดของไอช่า</h1>

      <div class="text-sm grid grid-cols-2 mx-auto py-auto text-center">
        <a
          class="text-center p-1 bg-red-600 rounded-lg hover:bg-red-400 m-1"
          href="https://www.youtube.com/@AishaChannel">Youtube</a
        >
        <a
          class="text-center p-1 bg-[#4267B2] rounded-lg hover:bg-blue-400 m-1"
          href="https://www.facebook.com/AishaChannelOfficial">Facebook</a
        >
        <a
          class="text-center p-1 bg-[#00acee] rounded-lg hover:bg-sky-300 m-1"
          href="https://twitter.com/Aisha_Channel">Twitter</a
        >
        <a
          class="text-center p-1 bg-gradient-to-r from-pink-500 via-purple-500 to-purple-600 rounded-lg hover:bg-gray-400 m-1"
          href="https://www.instagram.com/aisha.aisika/">Instagram</a
        >
        <a
          class="text-white col-span-middle col-span-2 p-1 bg-black rounded-lg hover:bg-gray-600 m-1"
          href="https://www.tiktok.com/@aishachannel8">Tiktok</a
        >
      </div>
    </div>
  </div>
</body>
<style>
  .Maincon {
    font-size: 1.5rem;
    max-width: 1280px;
    margin: 40px auto;
  }
  .col-span-middle {
    grid-column: span 2;
    text-align: center;
  }
</style>
