---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import AishaB from "../components/script/aishab.astro";
import Footer from "../components/Footer.astro";
import FAQ1 from "../components/FAQ/faq1.astro";
import FAQ2 from "../components/FAQ/faq2.astro";
import FAQ3 from "../components/FAQ/faq3.astro";
import IndexModel from "../components/database/model/model.astro";
import IndexSongs from "../components/database/songs/songs.astro";
---

<head>
  <Layout
    title="Home"
    ,
    description="Home of Aisha Wiki"
    ,
    image="/full-body.webp"
    ,
  />
</head>
<Navbar />
<body>
  <AishaB />
  <main class="Maincon gap-4 shadow-xl rounded-xl mx-auto customFont">
    <p id="debutAnnment" class="text-center text-sm"><p>
    <div class="instructions">
      <h1 class="text-center text-[1.1rem] md:text-md">
        Welcome to <span class="text-gradient">Aisha channel information</span>
      </h1>
      <div class="item-center mx-auto text-sm md:text-md">
        <p
          class="text-center break-normal md:break-all mx-auto text-[0.9rem] md:text-[1.2rem]"
        >
          This website is build by <code>Siravij | สิราวิ้จจะบึ</code>
        </p><p class="text-center sm:text-[0.9rem] md:text-[1rem]">
          Data provided by <code>
            <a
              class="text-[0.7rem] md:text-[1rem]"
              href="https://pusssinboots.notion.site/pusssinboots/Aisha-channel-information-9104e052397c405e8e39e5223b0ec335"
              >Aisha Web Database By Puss</a
            ></code
          >
        </p>
      </div>
    </div>

    <div
      class="max-w-7xl sm:px-2 md:px-8 mx-auto bg-neutral-200 rounded-lg md:pb-20 text-black"
    >
      <div class="md:flex py-10 sm:px-2 md:px-8 mx-auto rounded-lg pb-auto">
        <div
          class="flex-auto hover:shadow-2xl bg-white px-5 rounded-lg text-center item-center mx-auto shadow-xl"
        >
          <p class="pt-3 md:pt-2 text-2xl md:text-lg text-center">
            ไอช่า ไอศิกา วจนโรจน์
          </p>
          <p>
            <img
              class="mx-auto"
              src="/full-body.webp"
              width="190"
              height="auto"
              alt="Aisha full body"
            />
          </p>
        </div>
        <div
          class="flex-auto mt-3 md:mt-0 py-3 md:py-2 px-2 md:ml-2 text-sm md:text-xl text-ellipsis overflow-hidden bg-white rounded-lg shadow-xl"
        >
          <h1 class="text-center md:text-left">ข้อมูลทั่วไป</h1>
          <p>
            <ol>
              <li>
                - วันเกิด : 29/7/2003 <p class="inline text-sm" id="result"></p>
              </li>
              <li>
                - วันเดบิว : 29/7/2019 <p class="inline text-sm" id="debutCount"
              </li>
              <li>
                - อายุ : <p class="inline" id="age"></p> ปี - ส่วนสูง : 155 เซนติเมตร
              </li>
              <li>- Lore: เป็นหุ่นยนต์Ai</li>
              <li>- อิโมจิประจำตัว : 🐱, 💚</li>
              <li>
                - แฟนเนม : กุ๊ปเปี้ยน(ส์)*/ Guppiens (มาจากคำว่ากุ๊ปป้า* และ
                โฮโมเซเปี้ยน)
              </li>
              <p class="text-sm">
                **สามารถสะกดคำว่าGuppiensในภาษาไทยได้ทั้ง กุ๊ปเปี้ยน และ
                กุ๊ปเปี้ยนส์
              </p>
              <p class="text-sm">
                *กุ๊ปป้า เป็นคำที่ไอช่าใช้เวลาเปิดคลิป/ทักทาย เช่น “กุ๊ปป้า!
                สวัสดีค่า เวอร์ช่วลไอดอลไอช่า มาแล้วค่า!”*
              </p>
              <p class="py-1">
                <li>
                  <p class="inline items-center">
                    - สังกัด :
                    <a
                      href="https://www.facebook.com/GAAICompany/"
                      aria-label="Guardian Angel Ai Co Ltd Facebook Page"
                    >
                      <span
                        ><p
                          class="inline text-white bg-black p-1 rounded-lg shadow-lg hover:shadow-xl"
                        >
                          <img
                            class="inline mb-1 p-auto items-center h-5 w-auto"
                            src="/ga.webp"
                            alt="Guardian Angel Ai Co Ltd. Logo"
                          />
                          Guardian Angel Ai Co Ltd.
                        </p></span
                      >
                    </a>
                  </p>
                </li>
              </p>
            </ol>
            <div class="py-4 grid grid-cols-2">
              <span>
                - papa : <a href="https://twitter.com/Nock3d">
                  <p
                    class="text-center m-1 p-2 bg-neutral-200 rounded-lg hover:bg-gray-400"
                  >
                    @Nock3d
                  </p>
                </a>
                <a href="https://twitter.com/Nock3d">
                  <p
                    class="text-center m-1 p-2 bg-neutral-200 rounded-lg hover:bg-gray-400"
                  >
                    @bloodink
                  </p></a
                >
              </span>
              <span
                >- mama :
                <a href="https://twitter.com/vpkmit">
                  <p
                    class="text-center m-1 p-2 bg-neutral-200 rounded-lg hover:bg-gray-400"
                  >
                    @vpkmit
                  </p></a
                >
                <a href="https://twitter.com/mcmclunar">
                  <p
                    class="text-center m-1 p-2 bg-neutral-200 rounded-lg hover:bg-gray-400"
                  >
                    @mcmclunar
                  </p>
                </a>
              </span>
            </div>
          </p>
        </div>
      </div>
      <div
        class="QNA-AND-MORE -m-6 mx-0 md:mx-8 text-sm md:text-xl text-ellipsis overflow-hidden bg-white rounded-lg shadow-xl"
      >
        <p
          class="text-center md:text-left md:mt-0 py-3 md:py-2 px-2 md:ml-2"
          id="FAQ"
        >
          FAQ
        </p>

        <div id="accordion-arrow-icon" data-accordion="open">
          <FAQ1 />
          <FAQ2 />
          <FAQ3 />
        </div>
      </div>

      <div
        class="mt-10 mx-0 md:mx-8 text-sm md:text-xl text-ellipsis overflow-hidden bg-white rounded-lg shadow-xl"
      >
        <div class="text-center md:text-left md:mt-0 py-3 md:py-2 px-2 md:ml-2">
          DataBase
        </div>
        <div id="accordion-arrow-icon" data-accordion="open">
          <IndexModel />
          <IndexSongs />
          <a class="" href="#/voice-over"
            ><div
              class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            >
              ตัวละครที่ไอช่าพากย์ + ช่องทางถูกลิขสิทธิ์
            </div></a
          >
          <a class="" href="#/Likes"
            ><div
              class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            >
              สิ่งที่ไอช่าชอบและไม่ชอบ
            </div></a
          >
          <a class="" href="#/Appearances"
            ><div
              class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            >
              เกมที่มีไอช่าอยู่
            </div></a
          >
        </div>
      </div>
      <div
        id="Disclaimer"
        class="mt-10 mx-0 md:mx-8 text-sm md:text-xl md:mt-4 py-3 md:py-2 px-5 md:ml-8 text-ellipsis overflow-hidden bg-red-500 rounded-lg shadow-xl"
      >
        <p>
          ข้อมูล/เอกสารชุดนี้ไม่ได้จัดทำโดยออฟฟิศเชียล
          แต่เป็นข้อมูลที่กลุ่มแฟนคลับทำขึ้น
          หากมีการนำข้อมูลจากชุดข้อมูลนี้ไปเผยแพร่ที่อื่นและทำให้เกิดความเสียหาย
          เป็นอันทราบว่าจะไม่มีความเกี่ยวข้องและไม่อยู่ในความรับผิดชอบของผู้จัดทำชุดข้อมูลนี้
          หากมีข้อสงสัย, เพิ่มเติมข้อมูล, สอบถาม หรือมีข้อผิดพลาด
          สามารถติดต่อได้ที่Discord : Siravijbb
        </p>

        <p
          class="block mt-1 text-xs md:text-sm text-gray-300 sm:mt-0 sm:col-span-2"
        >
          ขอบคุณข้อมูลดีๆส่วนหนึ่งจาก
          https://virtualyoutuber.fandom.com/wiki/Aisha_Project
          https://virtualyoutuber.fandom.com/th/wiki/Aisha
          https://virtualyoutuber.fandom.com/th/wiki/Aisha
          ขอบคุณพวกคุณมากๆที่จัดทำwikiเพื่อเป็นข้อมูลเช่นกันครับ
        </p>
      </div>
    </div>
  </main>
  <Footer />

  <style>
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);

      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .Maincon {
      font-size: 1.5rem;
      max-width: 1280px;
      margin: 40px auto;
    }
    .col-span-middle {
      grid-column: span 2;
      text-align: center;
    }
  </style>
</body>
