---
import Layout from "../layouts/Layout.astro";
import AishaB from "../components/script/aishab.astro";
import Model1 from "../components/aishamodel/model1.astro";
import Model3 from "../components/aishamodel/model3.astro";
import Model5 from "../components/aishamodel/model5.astro";
import Model2 from "../components/aishamodel/model2.astro";
import Model4 from "../components/aishamodel/model4.astro";
import Model6 from "../components/aishamodel/model5.astro";
---

<head>
  <Layout
    title="Model"
    ,
    description="Mode of Aisha"
    ,
    image="/full-body.webp"
    ,
  />
</head>
<body>
  <div
    class="Maincon max-w-7xl sm:px-2 md:px-8 mx-auto bg-neutral-200 rounded-lg md:pb-20 text-black shadow-xl"
  >
    <div class="md:flex py-2 sm:px-2 md:px-8 mx-auto rounded-lg pb-auto"></div>
    <div
      class="flex-auto mt-3 md:mt-0 py-3 md:py-2 px-2 md:ml-2 text-sm md:text-xl text-ellipsis overflow-hidden bg-white rounded-lg shadow-xl"
    >
      <h1 class="text-center md:text-left">ร่างทั้งหมดของไอช่า</h1>
      <div class="grind py-4 grid grid-cols-2">
        <span
          >- X :
          <Model1 />
          <Model3 />
          <Model5 />
        </span>
        <span
          >Y
          <Model2 />
          <Model4 />
        </span>
      </div>
    </div>
  </div>
</body>
<style>
  .Maincon {
    font-size: 1.5rem;
    max-width: 1280px;
    margin: 40px auto;
  }
</style>
