---
import Model1 from "../../songlist/model1.astro";
import Model3 from "../../songlist/model3.astro";
import Model5 from "../../songlist/model5.astro";
import Model2 from "../../songlist/model2.astro";
import Model4 from "../../songlist/model4.astro";
import Model6 from "../../songlist/model5.astro";
---

<h2 id="accordion-arrow-icon-heading-song">
  <button
    type="button"
    class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800"
    data-accordion-target="#accordion-arrow-icon-body-song"
    aria-expanded="false"
    aria-controls="accordion-arrow-icon-body-song"
  >
    <span>Original songs</span>
    <svg
      class="w-4 h-4 shrink-0 -mr-0.5 astro-J7PV25F6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        class="astro-J7PV25F6"></path>
    </svg>
  </button>
</h2>
<div
  id="accordion-arrow-icon-body-song"
  aria-labelledby="accordion-arrow-icon-heading-song"
  class="hidden"
>
  <div
    class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
  >
    <ul>
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <li class="text-gray-500 dark:text-gray-400 -mt-3"></li>
        <div class="grind py-4 grid grid-cols-2">
          <span
            >- X :
            <Model1 />
            <Model3 />
          </span>
          <span
            >Y
            <Model2 />
            <Model4 />
          </span>
        </div>
      </p>
    </ul>
  </div>
</div>
